/* <-------------------------------Font Url------------------------------> */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@500&display=swap');



/* <-------------------------------Header------------------------------> */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

.hli, .ah  {
    background-color:black;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    border-radius: 25px;
}

header {
    position: fixed;
    top:  20px;
    right: 12px;
    left: 12px;
    background-color:#0088a9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    border-radius: 25px;
}

.nav__links {
    background-color:pink;
    list-style: none;
}

.nav__links .hli {
    display: inline-block;
    padding: 20px;
}

.nav__links .hli .ha {
    transition: all 0.3s ease 0s;
}

.nav__links .hli a:hover {
    color: #0088a9;
}

.logo {
    cursor: pointer;
    position:absolute;
    left: 6%;
    width: 54px;
    background:#0088a9;
    
}

.logotext {
    cursor: pointer;
    position: absolute;
    left: 9.4%;
    bottom: 2;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 400%;
    background-color: #0088a9;
}




/* <-------------------------------Footer------------------------------> */

.footer{
    background-color: aquamarine;
    width:100%;
    height: 100px;
    position:absolute;
    bottom: 0;
}



